/* #root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  align-items:center;
  text-align: center;
} */

html, body{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin: 24px;
  align-items: center;

}

.open-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: end;
}

.open-card-text{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.mon-card{
  margin: 8px;
  padding: 8px;
}

.outer-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-button{
  display: flex;
  justify-content: center;
}
