/* #root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  align-items:center;
  text-align: center;
} */

html, body{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin: 24px;
  align-items: center;

}

.upper-div{
  display: flex;
  flex-direction: row;
  padding: 8px;

}

.spacer{
  display: flex;
  flex-grow: 1;
}

.mon-card-header{
  display: flex;
  justify-content: center;
}

.type-div{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.ability-div{
    display: flex;
    flex-direction: column;
    padding: 4px;
    justify-self: flex-end;
  
}

.pokemon-size-container{
  display: flex;
  flex-direction: column;
  align-self: end;
  padding: 4px;
}

.open-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: end;
}

.open-card-text{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.mon-card{
  margin: 16px;
  padding: 8px;
}

.page-controls{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.outer-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-button{
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: 4px;
}

.mon-name{
  display: flex;
  justify-content: center;
}

.page-div{
  padding: 8px;
  display: flex;
  gap: 8px;
}

.moves-container{
  display: flex;
  flex-direction: column;
}

.move-div{
  display: flex;
  width: 49%;
}

/* .css-bhp9pd-MuiPaper-root-MuiCard-root{
  background-color: #d95838;
} */